.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: #E65412;
  padding: 30px;
  margin: 0;
}

.navbar li a {
    text-decoration: none;
    color:black;
    font-weight: 900;
}